.backwardcontainer {
  position: absolute;
  left: 120px;
  bottom:101px;
  border: 0.2px solid rgba(119, 177, 114, 0.192);
  border-radius: 100%;
  padding: 13px 0.01px;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-duration: 180ms;
  background-color: rgba(240, 248, 255, 0);
}
.backwardcontainer:hover{
    background-color: rgba(240, 248, 255, 0.541);
    border-color: rgba(240, 248, 255, 0);
    cursor: pointer;
}
.CNavigationButtonContainer {
  position: absolute;
  left: 190px;
  bottom: 106px;
}
